{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="content" class="main-content" data-content-field="main-content" data-collection-id="5de66080ae38e0103308459e" data-edit-main-image="">
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1593031746457" id="page-5de66080ae38e0103308459e">
        <div class="row sqs-row">
            <div class="col sqs-col-8 span-8">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-abe183791709d03bcc75">
                    <div class="sqs-block-content">
                        <h2 style="white-space:pre-wrap;"><strong>Ask Us</strong></h2>
                    </div>
                </div>
                
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-2f46bdc982bcfcc6f9d7">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
                
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-c6a674458bf04defa299">
                    <div class="sqs-block-content">
                        <p>
                            Please use form below to send us your enquiry and we will get back to you as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col sqs-col-4 span-4">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-4cd2bbae2522618f77a7">
                    <div class="sqs-block-content">
                        <h2 style="white-space:pre-wrap;"><strong>Contact</strong></h2>
                    </div>
                </div>
                
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-66f1b98d0767989ced8f">
                    <div class="sqs-block-content">
                        <hr>
                    </div>
                </div>
                
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9eaf76eca6a63389661a">
                    <div class="sqs-block-content">
                        <p>
                            <a href="https://goo.gl/maps/anvuaZ5bsG5AJsgVA" target="_blank">37 Nelmes Way, Hornchurch, England, RM11 2QY</a>
                        </p>
                        <p>
                            Email: <a href="mailto:info@accessflooring-systems.com?cc=roman%40accessflooring-systems.com&amp;=undefined&amp;subject=Feedback%20requested">info@accessflooring-systems.com</a>
                        </p>
                        <p>
                            Office:  <a href="tel:+4401708930067">+44 01708 930067 </a>
                        </p>
                        <p>
                            Mobile: <a href="tel:+4407515581725">+44 07515 581725</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_1_1575379961769_6393">
                    <div class="sqs-block-content">
                        <div class="form-wrapper">
                            <div class="form-inner-wrapper">
                                <form data-form-id="5de6640dcc029b3bcd874e3f" data-success-redirect="https://www.accessflooring-systems.com/thank-you" autocomplete="on" method="POST" action="https://kale-trombone-gala.squarespace.com"
                                    onsubmit="return (function (form) {
                                                Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
                                                (new Y.Squarespace.FormSubmit(form)).submit({
                                                formId: '5de6640dcc029b3bcd874e3f',
                                                collectionId: '5de66080ae38e0103308459e',
                                                objectName: 'page-5de66080ae38e0103308459e'
                                                });
                                                });
                                                return false;
                                                })(this);">
                                    <div class="field-list clear">
                                        <fieldset id="name-yui_3_17_2_1_1575379961769_6398" class="form-item fields name required">
                                            <legend class="title">
                                                Name
                                                <span class="required" aria-hidden="true">*</span>
                                            </legend>
                                            <div class="field first-name">
                                                <label class="caption">
                                                    <input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" aria-required="true"/>
                                                    <span class="caption-text">First Name</span>
                                                </label>
                                            </div>
                                            
                                            <div class="field last-name">
                                                <label class="caption">
                                                    <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" aria-required="true"/>
                                                    <span class="caption-text">Last Name</span>
                                                </label>
                                            </div>
                                        </fieldset>
                                        
                                        <div id="email-yui_3_17_2_1_1575379961769_6399" class="form-item field email required">
                                            <label class="title" for="email-yui_3_17_2_1_1575379961769_6399-field">
                                                Email
                                                <span class="required" aria-hidden="true">*</span>
                                            </label>
                                            <input class="field-element" id="email-yui_3_17_2_1_1575379961769_6399-field" name="email" type="email" autocomplete="email" spellcheck="false" aria-required="true"/>
                                        </div>
                                        
                                        <div id="text-yui_3_17_2_1_1575379961769_6400" class="form-item field text required">
                                            <label class="title" for="text-yui_3_17_2_1_1575379961769_6400-field">
                                                Subject
                                                <span class="required" aria-hidden="true">*</span>
                                            </label>
                                            <input class="field-element text" type="text" value="{{ selection_chain }}" id="text-yui_3_17_2_1_1575379961769_6400-field" aria-required="true"/>
                                        </div>
                                        
                                        <div id="textarea-yui_3_17_2_1_1575379961769_6401" class="form-item field textarea required">
                                            <label class="title" for="textarea">
                                                Message
                                                <span class="required" aria-hidden="true">*</span>
                                            </label>
                                            <textarea class="field-element " id="textarea" aria-required="true" style="height: 400px;">{{ message }}</textarea>
                                        </div>
                                    </div>
                                    
                                    <div data-animation-role="button" class="form-button-wrapper form-button-wrapper--align-center">
                                        <input class="button sqs-system-button sqs-editable-button" type="submit" value="Send"/>
                                    </div>
                                    
                                    <div class="hidden form-submission-text"><p class=""></p></div>
                                    
                                    <div class="hidden form-submission-html" data-submission-html=""></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
