{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="sqs-block html-block sqs-block-html widen" data-block-type="2">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <!-- <div class="col sqs-col-2 span-2" data-alignment="center">
                    <div class="row sqs-row">
                        <h2></h2>
                    </div>
                </div> -->

                <div class="col sqs-col-12 span-12" data-alignment="center">
                    <div class="row sqs-row" id="alerts">
                        <!-- Here goes alerts if any -->
                    </div>

                    <div class="row sqs-row" id="main_content">
                        <h2 style="white-space:pre-wrap;">Select workflow</h2>

                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content">
                                <hr>
                            </div>
                        </div>

                        <div class="row sqs-row">
                            <a href="{% url 'floor_area' %}" class="col sqs-col-4 span-4" data-alignment="center">
                                <div class="sqs-block-content selection-card selection-card-small" id="floor_area">
                                    Floor area
                                </div>
                            </a>

                            <a href="{% url 'upload_floorplan' %}" class="col sqs-col-4 span-4" data-alignment="center">
                                <div class="sqs-block-content selection-card selection-card-small" id="floor_plan">
                                    Floor plan
                                </div>
                            </a>

                            <a href="{% url 'upload_draw_over' %}" class="col sqs-col-4 span-4" data-alignment="center">
                                <div class="sqs-block-content selection-card selection-card-small" id="floor_plan">
                                    Floor outline
                                </div>
                            </a>
                        </div>

                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
                            <div class="sqs-block-content">
                                <hr>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row sqs-row">
                        <h1 style="white-space:pre-wrap;">Help</h1>
                        <div class="sqs-block-content help" id="help_content">
                            <div>
                                <div style="border-bottom: 1px solid black;">
                                    <b>Floor area</b>
                                </div>
                            </div>
                            <p>{{ floor_area_help }}</p>

                            <div>
                                <div style="border-bottom: 1px solid black;">
                                    <b>Floor plan</b>
                                </div>
                            </div>
                            <p>{{ floor_plan_help }}</p>

                            <div>
                                <div style="border-bottom: 1px solid black;">
                                    <b>Floor outline</b>
                                </div>
                            </div>
                            <p>Upload a floor plan and select regions of interest by outlining over the uploaded plan.</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="col sqs-col-2 span-2" data-alignment="center">
                    <div class="row sqs-row">
                        <h2></h2>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}



{% block JSscripts %}
<script src="{% static 'js/calculator/select_workflow.js' %}"></script>
{% endblock %}
